<footer #footer>
    <div class="grid grid-cols-2 lg:grid-cols-4 sm:w-2/3">
        <div class="footer-column">
            <div
                class="h-28 w-28 sm:h-40 sm:w-40 overflow-hidden rounded-full bg-white"
            >
                <img
                    src="assets/images/agata-main.jpeg"
                    alt=""
                    class="h-full w-full object-cover pointer-events-none select-none"
                />
            </div>
        </div>

        <div class="footer-column">
            <h2 class="footer-column-title">Адрес</h2>
            <p class="footer-column-text">
                Набережные Челны, <br />
                ул. Раскольникова, д. 45
            </p>
        </div>

        <div class="footer-column">
            <h2 class="footer-column-title">Режим</h2>
            <p class="footer-column-text">
                предварительная запись <br />
                10:00-20:00
            </p>
        </div>

        <div class="footer-column">
            <h2 class="footer-column-title">Контакты</h2>
            <p class="footer-column-text break-words">
                8 987 286-65-18 agatabasova2002 <br />
                &#64;gmail.com
            </p>
        </div>
    </div>
</footer>
