$file-input-text-color: #9ca3af;

input:focus,
textarea:focus {
  outline: 1px solid;
}

input[type="file"]::file-selector-button {
  @apply uppercase px-1;
  padding: 0;
  height: 100%;
  color: $file-input-text-color;
  background-color: white;
  transition: 1s;
  border: none;
}

input[type="file"] {
  @apply lowercase;
  color: $file-input-text-color;
}
