.bg-about {
    background-color: #e2e2e2;
}

.card {
    @apply m-2 bg-white p-4 sm:m-4 sm:p-6 cursor-pointer;
}

.card-title {
    @apply mb-4 font-bold uppercase sm:text-base 2xl:text-xl block;
    &::after {
        content: '\276F';
        margin-left: 0.25rem;
    }
}

.card-text {
    @apply mb-4 lowercase text-gray-600 md:text-base;
}

@media screen and (min-width: 1536px) {
    .card:last-child {
        margin-bottom: 3rem;
    }
    .cards-padding {
        padding-left: 19.5rem;
        padding-right: 19.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .cards-padding {
        padding-left: 18rem;
        padding-right: 18rem;
    }
}
