<div
  #about
  class="bg-about relative flex flex-col items-center justify-center pb-12 sm:h-screen sm:pb-0"
>
  <div>
    <h2
      class="py-4 text-center text-lg font-black md:text-5xl lg:text-3xl xl:mb-10 2xl:text-4xl"
    >
      НЕМНОГО ОБО МНЕ
    </h2>

    <div class="grid grid-cols-2 px-2 lg:px-64 xl:grid-cols-3">
      <div class="card">
        <h2 class="card-title">
          Индивидуальные <br />
          заказы
        </h2>
        <p class="card-text">
          Создаю уникальные наряды под заказ, сочетая ваш стиль и наши идеи.
          Позвольте себе быть особенным.
        </p>
      </div>

      <div class="card">
        <h2 class="card-title">
          Уникальные <br />
          коллекции
        </h2>
        <p class="card-text">
          Погружайтесь в мир стильных коллекций, которые подчеркнут вашу
          утонченность и характер.
        </p>
      </div>

      <div class="card">
        <h2 class="card-title">
          Ремонт и <br />
          модернизация
        </h2>
        <p class="card-text">
          Даю вторую жизнь вашей любимой одежде. Поверьте, мода может быть
          устойчивой.
        </p>
      </div>

      <div class="card">
        <h2 class="card-title">
          Эксклюзивные <br />
          аксессуары
        </h2>
        <p class="card-text">
          Аксессуары – важно! От ярких шляпок до ювелирных изделий – дополните
          свой стиль в каждой детали.
        </p>
      </div>

      <div class="card">
        <h2 class="card-title">
          Кастомизация <br />
          обуви
        </h2>
        <p class="card-text">
          предлагаю услуги по кастомизации обуви, чтобы каждая пара подчеркивала
          ваш неповторимый стиль.
        </p>
      </div>

      <div class="card">
        <h2 class="card-title">
          Онлайн <br />
          стилист
        </h2>
        <p class="card-text">
          помогу вам собрать идеальный образ, соответствующий вашим
          предпочтениям и событию.
        </p>
      </div>
    </div>
  </div>
</div>
