<div
    #about
    class="bg-about relative flex flex-col items-center justify-center pb-12 2xl:h-screen sm:pb-0"
>
    <div>
        <h2
            class="text-center text-lg my-5 font-black md:text-5xl lg:text-3xl xl:my-10 2xl:text-4xl"
        >
            НЕМНОГО ОБО МНЕ
        </h2>

        <div class="grid px-2">
            <div class="card" [routerLink]="['order']">
                <h2 class="card-title">
                    Индивидуальные <br />
                    заказы
                </h2>
                <p class="card-text">
                    Создаю уникальные наряды под заказ, сочетая ваш стиль и наши
                    идеи. Позвольте себе быть особенным.
                </p>
            </div>

            <div class="card" [routerLink]="['repair']">
                <h2 class="card-title">
                    Ремонт и <br />
                    модернизация
                </h2>
                <p class="card-text">
                    Даю вторую жизнь вашей любимой одежде. Поверьте, мода может
                    быть устойчивой.
                </p>
            </div>

            <div class="card" [routerLink]="['accessories']">
                <h2 class="card-title">
                    Эксклюзивные <br />
                    аксессуары
                </h2>
                <p class="card-text">
                    Аксессуары – важно! От ярких шляпок до ювелирных изделий –
                    дополните свой стиль в каждой детали.
                </p>
            </div>

            <div class="card" [routerLink]="['stylist']">
                <h2 class="card-title">
                    Онлайн <br />
                    стилист
                </h2>
                <p class="card-text">
                    помогу вам собрать идеальный образ, соответствующий вашим
                    предпочтениям и событию.
                </p>
            </div>
        </div>
    </div>
</div>
