<div class="mt-16 flex w-screen flex-col items-center justify-center px-10">
  <div class="text-center">
    <div class="mb-4 p-8 outline outline-1">
      <h2 class="mb-8 text-lg font-black uppercase sm:text-xl">
        Благодарю за ваш заказ!
      </h2>
      <p class="lowercase">Ожидайте, скоро свяжусь с вами для подтверждения!</p>
    </div>

    <button
      [routerLink]="['/']"
      class="mt-6 w-full border border-black bg-black p-2 text-white transition duration-300 hover:bg-opacity-0 hover:text-black lg:p-4 xl:p-6"
    >
      НА ГЛАВНУЮ
    </button>
  </div>
</div>
