<footer #footer class="bg-about relative flex flex-col text-teal-100 uppercase">
  <div class="grid grid-cols-2 px-2 lg:px-64">
    <div class="m-2 p-4 sm:m-4 sm:p-6">
      <div class="h-32 w-32 sm:h-48 sm:w-48 overflow-hidden rounded-full bg-white">
        <img
          src="assets/images/agata-main.jpeg"
          alt=""
          class="h-full w-full object-cover"
        />
      </div>
    </div>

    <div class="m-2 p-4 sm:m-4 sm:h-48 sm:w-48 sm:p-6">
      <p>Набережные Челны <br> Раскольникова 45</p>
    </div>

    <div class="m-2 p-4 sm:m-4 sm:h-48 sm:w-48 sm:p-6">
      <p>+7 (987) 286 65-18 <br> 10:00-20:00  <br> agatabasova2002@gmail.com</p>
    </div>
  </div>
</footer>




